@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' ,sans-serif;
}
#san{
    font-size: 35px;
    margin-top: 10%;
    color: rgb(234, 234, 234);
    width: 300px;
    border: 10px solid #112d42;
    padding: 10px;
    margin: 1px;
}
span{
    font-size: 16px;
}
section{
    position: relative;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #112d42;
}
section::before{
    content: '';
    position: relative;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #03a9f4;
}
section .container
{
    position: relative;
    min-width: 1100px;
    min-width: 550px;
    display: flex;
    z-index: 1000;
}
section .container .contactinfo
{
    position: absolute;
    top: 40px;
    width: 350px;
    height: calc(100% - 80px);
    background: #0f3959;
    z-index: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 20px 20px rgb(0,0,0,0.2);
}
section .container .contactinfo h2{
    color: #fff;
    font-size: 24px;
    font-weight: 500;
}
section .container .contactinfo .info li{
    position: relative;
    list-style: none;
    display: flex;
    margin: 20px 0;
    cursor: pointer;
    align-items: flex-start;
}
section .container .contactinfo .info li span:nth-child(1){
    width: 30px;
    min-width: 30px;
}
section .container .contactinfo .info li span:nth-child(1) img{
    max-width: 100%;
    filter: invert(1);
    opacity: 0.5;
}
section .container .contactinfo .info li span:nth-child(2){
    color: #fff;
    margin-left: 10px;
    font-weight: 300;
    opacity: 0.5;
}
section .container .contactinfo .info li span:nth-child(1) img,
section .container .contactinfo .info li span:nth-child(2){
    opacity: 1;
}
section .container .contactinfo .sci{
    position: relative;
    display: flex;
}
section .container .contactinfo .sci li{
    list-style: none;
    margin-right: 15px;
}
section .container .contactinfo .sci li a{
    text-decoration: none;
}
section .container .contactinfo .sci li a img{
    filter: invert(1);
    opacity: 0.5;
}
section .container .contactinfo .sci li:hover a img{
    opacity: 1;
}
.half-width{
    width: 55%;
    height: 55%;
    float: right;
    margin-top: 3%;
    margin-right: 2%;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}