body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
}
.name-highlight{
    color: rgb(53, 18, 227);
}
.pp{
    text-align: left;
    right: 70%;
}
.button2{
    text-decoration: none;
    background-image: linear-gradient(45deg,rgb(20, 207, 179),rgb(23, 177, 228));
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
    margin-left: 30%;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    margin-top: 70px;
    padding-left: 2%;
}
.half-width img{
    width: 100%;  
}
.top-banner{
    background: url(https://miro.medium.com/max/1400/1*ZhuqSg8Jmz4p8H6X5U1uzQ.png);
    background-repeat: no-repeat;
    margin-left: 7%;
    margin-top: 4%;
}

section{
    height: 500px;
    padding-bottom: 150px;
}
